<ion-header>
  <ion-toolbar>
    <ion-title>Produtos por categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-list *ngFor="let category of categories">
    <ion-item-group>
      <ion-item-divider>
        <h1>{{ category.name }}</h1>
      </ion-item-divider>

      <ion-item *ngFor="let product of getProductsByCategory(category.id)">
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Preço: {{ product.price | currency }}</p>
          <p>Quantidade: {{ product.quantity }}</p>
          <p *ngIf="product.supplier">Fornecedor: {{ product.supplier }}</p>
          <p>Total: {{ product.total | currency }}</p>
        </ion-label>

        <ion-button  (click)="openInputOutputModal(product, category.id)">Entrada/Saída</ion-button>

        <ion-button color="tertiary" (click)="openEditModal(product, category.id)">
          Editar
          <ion-icon slot="end" name="create-outline"></ion-icon>
        </ion-button>
        

      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
