<ion-header>
  <ion-toolbar>
    <ion-title>Gerenciar Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [formControl]="newCategory" placeholder="Nova categoria"></ion-input>
    <ion-button (click)="addCategory()">Cadastrar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let category of categories">
      <ion-label>{{ category.name }}</ion-label>
      
      <ion-button color="primary" (click)="editCategory(category.id)">
        Editar
        <ion-icon slot="end" name="create-outline"></ion-icon>
      </ion-button>

      <ion-button color="danger" (click)="deleteCategory(category.id)">
        Deletar
        <ion-icon slot="end" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-list *ngFor="let category of categories">
      <ion-list-header>
        Categoria: {{ category.name }}
      </ion-list-header>
      
      <ion-item *ngFor="let product of getProductsByCategory(category.id)">
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Preço: R$ {{ product.price | number:'1.2-2' }}</p>
          <p>Quantidade: {{ product.quantity }}</p>
          <p *ngIf="product.supplier">Fornecedor: {{ product.supplier }}</p>
        </ion-label>        
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
