<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumo do Estoque</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>Valor total do estoque atual:</strong>
        {{ totalStockValue | currency }}
      </p>
      <p><strong>Total de Entradas:</strong> {{ totalStockIn }}</p>
      <p><strong>Total de Saídas:</strong> {{ totalStockOut }}</p>
      <p><strong>Saldo (Saídas - Entradas):</strong> {{ balance }}</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>
      <ion-label>Produtos</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let product of products">
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Quantidade em estoque: {{ product.quantity }}</p>
        <p>
          Valor total: $
          {{ product.quantity * product.price | number: "1.2-2" }}
        </p>
        <h3>Entradas:</h3>
        <ion-list *ngIf="product.stockIn.length > 0">
          <ion-item *ngFor="let entry of product.stockIn">
            <ion-label>
              <p>Quantidade: {{ entry.quantity }}</p>
              <p>Data: {{ entry.date | date }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <p *ngIf="product.stockIn.length === 0">Nenhuma entrada registrada.</p>
        <h3>Saídas:</h3>
        <ion-list *ngIf="product.stockOut.length > 0">
          <ion-item *ngFor="let entry of product.stockOut">
            <ion-label>
              <p>Quantidade: {{ entry.quantity }}</p>
              <p>Data: {{ entry.date | date }}</p>
              <p>Cliente: {{ entry.client }}</p>
              <p>Preço de saída: {{ entry.salePrice | currency }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <p *ngIf="product.stockOut.length === 0">Nenhuma saída registrada.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
