<ion-header>
  <ion-toolbar>
    <ion-title>Esqueceu a Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="currentStep === 'phone'">
      <ion-item>
        <ion-label position="floating">Número de Telefone</ion-label>
        <ion-input type="tel" formControlName="phoneNumber"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="forgotForm.get('phoneNumber')?.touched && forgotForm.get('phoneNumber')?.invalid">
        <span *ngIf="forgotForm.get('phoneNumber')?.errors?.['required']">Número de telefone é obrigatório.</span>
        <span *ngIf="forgotForm.get('phoneNumber')?.errors?.['pattern']">Formato inválido.</span>
      </ion-note>
      <ion-button expand="block" (click)="sendToken()" [disabled]="forgotForm.invalid">Enviar Token</ion-button>
    </ng-container>

    <ng-container *ngIf="currentStep === 'token'">
      <ion-item>
        <ion-label position="floating">Token</ion-label>
        <ion-input type="text" formControlName="token"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="forgotForm.get('token')?.touched && forgotForm.get('token')?.invalid">
        Token é obrigatório.
      </ion-note>
      <ion-button expand="block" (click)="validateToken()" [disabled]="forgotForm.invalid">Validar Token</ion-button>
    </ng-container>

    <ng-container *ngIf="currentStep === 'newPassword'">
      <ion-item>
        <ion-label position="floating">Nova Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Nova Senha</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="forgotForm.get('password')?.touched && forgotForm.get('password')?.invalid">
        <span *ngIf="forgotForm.get('password')?.errors?.['required']">Senha é obrigatória.</span>
        <span *ngIf="forgotForm.get('password')?.errors?.['minlength']">A senha deve ter pelo menos 6 caracteres.</span>
      </ion-note>
      <ion-button expand="block" (click)="resetPassword()" [disabled]="forgotForm.invalid">Redefinir Senha</ion-button>
    </ng-container>
  </form>
</ion-content>
