<ion-header>
  <ion-toolbar>
    <ion-title>Editar Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="productForm">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Preço</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" formControlName="quantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fornecedor</ion-label>
      <ion-input formControlName="supplier"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mínimo</ion-label>
      <ion-input type="number" formControlName="minimum"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-button expand="full" (click)="save()">Salvar</ion-button>
    <ion-button expand="full" color="danger" (click)="deleteProduct()">Excluir</ion-button>
  </form>
</ion-content>
