<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>Produtos</ion-card-header>
          <ion-card-content>
            <a href="/product-list">Ver produtos por categoria</a>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>Entrada e Saída</ion-card-header>
          <ion-card-content>
            <a href="/home/stock-movement">Gerenciar estoque</a>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>Relatórios</ion-card-header>
          <ion-card-content>
            <a href="#">Ver relatórios</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
